* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

.texto-borde {
  -webkit-text-stroke: 2px black;
  color: transparent;
}

.contenedor {
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
  margin: auto;
  padding: 60px 0;
}

.home {
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: -99;
  position: relative;
}

video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(55%);
}

.texts-h {
  position: absolute;
  top: 10%;
  margin-top: 15%;
  text-align: center;
  width: 100%;
  height: 100%;
  color: white;
  overflow: hidden;
  z-index: 2;
}

.texts-h h1 {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.head {
  text-align: center;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-text-stroke: 0.2px black;
  color: #fff;
}

.hamburguer {
  position: fixed;
  top: 30px;
  right: 30px;
  background: #fff;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.menu-navegacion {
  position: fixed;
  top: 0;
  right: 0;
  width: 30vw;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(1, 14, 90, 0.9) 0%,
    rgba(143, 210, 244, 0.9) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /*transform: transform .3s ease-inout; */
  transform: translate(110%);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.spread {
  transform: translate(0);
}

.menu-navegacion a {
  text-decoration: none;
  color: #fff;
}

.titulo {
  font-size: 60px;
  margin-bottom: 15px;
}

.copy {
  font-weight: 300;
  font-size: 25px;
}

/*Nuestros servicios*/

.subtitulo {
  text-align: center;
  font-weight: 300;
  color: #05045e;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 40px;
}

.contenedor-servicio {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.contenedor-servicio .img-main {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease;
}

.contenedor-servicio .img-main:hover {
  box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
  transition: all 400ms ease;
}

.contenedor-servicio img {
  width: 40%;
}

.checklist-servicio {
  width: 40%;
}

.service {
  margin-bottom: 20px;
}

.n-service {
  margin-bottom: 7px;
  color: #150464;
}

.encuentranos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.ubicaciones {
  width: 100%;
  display: flex;
  max-width: 1100px;
}

/* Cards */
.proveedores {
  align-items: center;
  display: flex;  
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-around;
}

.contenedor-empresas {
  width: 100%;
  display: flex;
  max-width: 1100px;
}

.card {
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  display: block;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;  
  max-width: 300px; /* Adjust this as needed */
}

.card:hover {
  box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.card img {
  width: 100%;
  height: 210px;
}

.card .contenido {
  padding: 15px;
  text-align: center;
}

.card .p {
  line-height: 1.5;
  color: #6a6a6a;
}

.card .contenido h3 {
  font-weight: 400;
  margin-bottom: 15px;
}

.card .contenido a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  color: #150464;
  border: 1px solid #150464;
  border-radius: 4px;
  transition: all 400ms ease;
}

.card .contenido a:hover {
  background: #150464;
  color: #fff;
}

.number {
  display: inline-block;
  background-image: linear-gradient(
    120deg,
    rgba(21, 3, 122, 0.9) 0%,
    rgba(143, 210, 244, 0.9) 100%
  );
  width: 30px;
  height: 30px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  font-weight: 700;
  line-height: 30px;
  margin-right: 5px;
}

.gallery {
  background: #f2f2f2;
}

.contenedor-galeria {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.img-galeria {
  object-fit: cover;
  width: 30%;
  display: block;
  margin-bottom: 15px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.imagen-light {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(100%);
  transform: transform 0.2s ease-in-out;
}

.show {
  transform: translate(0);
}

.agregar-imagen {
  object-fit: cover;
  width: 60%;
  border-radius: 10px;
  transform: scale(0);
  transform: transform 0.3s 0.2s;
}

.showImage {
  transform: scale(1);
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  cursor: pointer;
}

/*footer */

footer {
  background: #0c0131;
  padding-bottom: 0.1px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 60px;
  padding-bottom: 40px;
}

.contact-us {
  width: 40%;
  color: #fff;
}

.brand {
  font-weight: 500;
  font-size: 40px;
}

.social-media {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.social-media-icon {
  display: inline-block;
  margin-left: 20px;
  width: 60px;
  height: 60px;
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;
  color: #fff;
}

.social-media-icon:hover {
  background: #fff;
  color: #150464;
}

.social-media-icon i {
  font-size: 30px;
  line-height: 60px;
}

.line {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  height: 2px;
  background: #fff;
  margin-bottom: 60px;
}

.phone {
  text-align: center;
  color: white;
  margin-bottom: 25px;
  font-size: 18px;
}

@media screen and (max-width: 800px) {
  .menu-navegacion {
    width: 50vw;
  }

  .titulo {
    font-size: 40px;
  }

  .contenedor-servicio img {
    width: 80%;
    margin-bottom: 40px;
  }

  .checklist-servicio {
    width: 80%;
  }

  .service {
    margin-bottom: 30px;
  }

  .agregar-imagen {
    width: 80%;
  }

  .img-galeria {
    width: 45%;
  }

  .footer-content {
    justify-content: space-evenly;
  }

  .social-media-icon {
    width: 80%;
    justify-content: space-evenly;
  }

  .social-media i {
    margin-left: 0;
  }

  .contact-us {
    text-align: center;
    width: 80%;
    margin-bottom: 40px;
  }

  @media screen and(max-width:500px) {
    .menu-navegacion {
      width: 65vw;
    }

    .hamburguer {
      top: 20px;
      right: 20px;
    }

    .titulo {
      font-size: 30px;
    }

    .img-galeria {
      width: 95%;
    }

    .agregar-imagen {
      width: 95%;
    }

    .social-media {
      width: 100%;
    }

    .contact-us {
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .card {
    max-width: 100%; /* Cards take up full width on smaller screens */
  }
}

@media only screen and (max-width: 767px) {
  .contenedor-empresas {
      display: block; /* Change from flex to block to stack cards vertically */
      margin-bottom: 20px; /* Add some spacing between sections */
  }

  .card {
      margin-bottom: 20px; /* Add some spacing between cards */
  }
}